.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao:checked~ .container__label > .cabecalho__menu-hamburguer {
    background-image: url(../img/MenuAberto.svg);
}
.container__botao:checked~.container__label {
    background: var(--azul-degrade);
}

.cabecalho {
    background-color: var(--branco-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
} 

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
     display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco-principal);

}
.lista-menu__link {
    text-decoration: none;

}
.lista-menu__titulo {
    color:var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
     background: var(--azul-degrade);
     background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opções {
    display: none;
}
.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

.container__titulo {
    font-weight: 400;
    display: block;
    }

.container__titulo--negrito{
    font-weight: 700;
    }
    .opções {
        display: flex;
        justify-content: space-between;
    }
    .opções__item {
        padding: 0 1em;
        text-transform: uppercase;
    }
    .opções__link {
        text-decoration: none;
        color: var(--preto);
    }
    .container__imagem-transparente {
        display: none;
    }
    .cabecalho__menu-hamburguer {
        display: none;
    }
    .opções__botão:checked~.lista-menu {
        display: block;
        width: auto;
    }
    .opções__botão {
        display: none;
    }

    .opções__botão:checked~.opções__label>.opções__item {
        background: var(--azul-degrade);
        color: var(--branco-principal);
        }
    .opções__item {
        padding: 1.5em;
    }
    .lista-menu__item:hover {
        background: var(--azul-degrade);

    }
    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco-principal);
    }
    .opções__item:hover > .opções__link {
        background: var(--azul-degrade);
        color: var(--branco-principal);
    }
    .opções__link {
        padding: 1.5em;
    }
    .container__link:hover > .container__texto {
        background: var(--azul-degrade);
    }
    .container__texto {
        padding: 1.5em;
    }
}    


@media screen and (min-width:1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .cabecalho {
        padding: 0 2em;
   }
    .opções {
        margin-right: auto;
    }
    .container__texto {
        display: block;
    }
    .lista-rodapé__link:hover {
        color: var(--laranja);
        }
}